html body {
    user-select: none;
    background: linear-gradient(to right, #151522, #080911);
    margin: 0 auto;
    height: 100vh;
    color: #b6c1ca;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#name {
    margin-bottom: 3rem;
    font-size: calc(3vw + 2rem);
}

.box {
    border: 3px solid #ff4500;
    width: calc(50vw + 6rem);
    background-color: #ff4500;
}

input {
    background-color: #b6c1ca;
    font-size: calc(2vw + 1rem);
    min-height: 2rem;
    height: calc(2vw + 1rem);
    width: calc(50vw + 3rem);
    transform: translateX(-1.3rem);
    outline: none;
    border: 0;
}

#show-copied {
    font-size: calc(2vw + 1rem);
    margin-bottom: 1rem;
}

#bt-submit {
    font-size: calc(1vw + 1rem);
    font-weight: bolder;
    color: #151522;
    padding: 0.5rem 3rem;
    border: 3px solid #b6c1ca;
    background-color: #ff4500;
    border-radius: 5px;
    min-width: 6rem;
    margin: 1rem;
    cursor: pointer;
}

#bt-copy {
    background-color: #5a5555;
    background-image: url('../img/copy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 2.12rem;
    height: calc(2.2vw + 1rem);
    width: 2.3rem;
    border: 0;
    cursor: pointer;
    position: absolute;
    transform: translateX(-0.88rem);
}