
html body{
    background: linear-gradient(to right, #151522, #080911);
    margin: 0 auto;
    height: 100vh;
}

body{
    color: #b6c1ca;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    border: 2px solid wheat;
    padding: 2rem;
}

.center{
    height: 2rem;
}

#input-link{
    font-size: large;
    border-radius: 5px;
    height: 100%;
}

#bt-submit{
    padding: 0.8rem 2rem;
    border: 1px solid red;
    margin: 1rem 3rem 1rem 1rem;
}

#bt-copy{
    height: 100%;
    border: 1px solid red;
}